<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yimeng.haidou">
    <!-- 网络读写权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 调用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 相机权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> <!-- SD卡写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 读联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 写联系人权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" /> <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 发送短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- faceAuth -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.yimeng.haidou.App"
        android:allowBackup="true"
        android:icon="@mipmap/xj_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/xj_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.yimeng.haidou.UploadVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.yimeng.haidou.mine.MyActiveActivity" />
        <activity android:name="com.yimeng.haidou.mine.MyGoodFavoriteActivity" />
        <activity android:name="com.yimeng.haidou.mine.LogActivity" />
        <activity android:name="com.yimeng.haidou.mine.MyFansActivity" />
        <activity android:name="com.yimeng.haidou.mine.MyReelActivity" />
        <activity android:name="com.yimeng.haidou.ad.AdActivity" />
        <activity
            android:name="com.yimeng.haidou.mine.RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.yimeng.haidou.shop.collection.PayMentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="alipay and wechatpay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity android:name="com.yimeng.haidou.shop.collection.SetAmountActivity" />
        <activity android:name="com.yimeng.haidou.shop.collection.QrCodeCollectionActivity" /> <!-- 极光推送 START -->
        <receiver
            android:name="com.yimeng.jpush.JPushMessageReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <!-- Optional 用户接受Rich Push Javascript 回调函数的intent -->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver> <!-- 极光推送 END -->
        <!-- BaiDu sdk START -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="s470tEqPANo2InhfEX9tGh0xK30saL2K" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /> <!-- BaiDu sdk END -->
        <!-- 高德定位 START -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0342b1de73c6db67f913ae479a6c46dc" /> <!-- 高德定位 END -->
        <!-- android:value="87d03a1da26ac887954bbce54d6084b3" /> &lt;!&ndash; 高德定位 END &ndash;&gt; -->
        <!-- 微信支付 START -->
        <activity
            android:name="com.yimeng.haidou.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.yimeng.haidou.wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name="com.yimeng.haidou.wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver> <!-- 微信支付 START -->
        <!-- 支付宝 开始配置 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" /> <!-- 支付宝 结束配置 -->
        <!-- 百度语音识别 START -->
        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" /> <!-- 百度语音识别 END -->
        <!-- 友盟 START -->
        <!-- <activity -->
        <!-- android:name="com.umeng.socialize.media.WBShareCallBackActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:exported="false" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"/> -->
        <!-- <activity -->
        <!-- android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize"/> -->
        <!-- <activity -->
        <!-- android:name="com.sina.weibo.sdk.share.WbShareTransActivity" -->
        <!-- android:launchMode="singleTask" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/> -->
        <!-- <category android:name="android.intent.category.DEFAULT"/> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1108967600" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 友盟 END -->
        <provider
            android:name="com.qq.e.comm.GDTFileProvider"
            android:authorities="${applicationId}.gdt.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/gdt_file_path" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- MTG激励视频所需的Activity，此处配置作用于流量分配功能，关于流量分配功能，详情请咨询商务 -->
        <!-- <activity -->
        <!-- android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden|screenSize" -->
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" /> -->
        <!-- <activity -->
        <!-- android:name="com.mintegral.msdk.activity.MTGCommonActivity" -->
        <!-- android:configChanges="keyboard|orientation" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" /> &lt;!&ndash; 国内流量版本必需，海外版本可以不添加 &ndash;&gt; -->
        <!-- <receiver android:name="com.mintegral.msdk.click.AppReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.PACKAGE_ADDED" /> -->
        <!-- <data android:scheme="package" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> &lt;!&ndash; 国内流量必需，海外版本可以不添加 &ndash;&gt; -->
        <!-- <service android:name="com.mintegral.msdk.shell.MTGService"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.mintegral.msdk.download.action" /> -->
        <!-- </intent-filter> -->
        <!-- </service> &lt;!&ndash; 国内流量版本必需，海外版本可以不添加。 &ndash;&gt; -->
        <!-- <provider -->
        <!-- android:name="com.mintegral.msdk.base.utils.MTGFileProvider" -->
        <!-- android:authorities="${applicationId}.mtgFileProvider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/mtg_provider_paths" /> -->
        <!-- </provider> -->
        <!-- &lt;!&ndash; MTG所需的组件结束 &ndash;&gt; -->
        <activity
            android:name="com.yimeng.haidou.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yimeng.haidou.circle.ShareByOtherActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@mipmap/logo"
            android:label="分享到促销王"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yimeng.haidou.GuideActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.yimeng.haidou.mine.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.LoginPWDActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.LoginXJActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MoreSettingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MsgActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.FeedbackActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.H5Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yimeng.haidou.mine.CustomerServiceActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.UserInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.IDCardInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MyInviteActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.QrCodeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MyFavoriteActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MyWalletActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.CityServiceProviderNewActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.FenRunRecordsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.TransactionRecordsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.WithdrawDepositActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.WithdrawDeposit2Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.WithdrawDepositRecordsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.BankListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.UpdateBankActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.RecomendJoinActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ScanForResultActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.AllSortListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.SortListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.SearchResultActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.PhotoViewsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.PayNowActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.SubmitResultActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.MallOrderActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.AddressManageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.UpdateAddressActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.MallOrderDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.OrderCommentActivity2"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.OrderCommentResultActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.dialog.DialogSelectParameterActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.BaseDialogActivity" />
        <activity
            android:name="com.yimeng.dialog.DialogAfterSalesServiceActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.BaseDialogActivity" />
        <activity
            android:name="com.yimeng.dialog.DialogCheckParameterActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.BaseDialogActivity" />
        <activity
            android:name="com.yimeng.dialog.DialogHourMinActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.BaseDialogActivity" />
        <activity
            android:name="com.yimeng.haidou.shop.AlipayWechatPayActivity"
            android:configChanges="orientation|screenSize"
            android:label="alipay and wechatpay"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.yimeng.haidou.shopcard.ShopCartSettleActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MyAgencyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.ShopProductDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.ShopVipDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.PayActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.PayRecordsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.goodsClassify.MoreHotProductActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.order.ReturnOfGoodsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.order.ReturnFlowChartActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.order.ChooseFlowActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ScoreLogsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.HelpActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.offline.SelPartnerTypeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.AMapSearchActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ShopCheckInInfomationActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yimeng.haidou.mine.MineShopDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.NotAccountToListActivty"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ShopAccountActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.EditClassifyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.CommodityActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ClassifyCommodityDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.UpdateProductPriceOrStorageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.EditCommodityActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" /> <!-- 商品列表 -->
        <activity
            android:name="com.yimeng.haidou.mine.GoodsListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.OrderManagActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ShopOrderExtendWarrantyDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ShopOrderDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.TradingStatementsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.LookStatementsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.BusinessListActivty"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.BusinessDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.nearby.MoreNearbyShopActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.nearby.ShopDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.nearby.AddShopDoorOrderActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yimeng.haidou.shop.OrderSettlementActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MineShopProductManagerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.order.OrderStoreDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.AddPlatformProductActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.PlatformProductListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.shop.SaleProduct2ShopActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MyCouponActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.DeliverGoodsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.yimeng.haidou.order.OrderActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.order.ShopOrderActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.circle.ReleaseActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.circle.ReleaseDetailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.circle.MineReleaseActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.MyProxyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ProxySettlementHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.home.ArticleTopActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.UpdatePwdActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ForgetPwdActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ForgetPwdResetActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.UpdateUserEmailActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.AccountSecurityActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.goodsClassify.CompanySaleClassifyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.order.OrderManager2_0Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task.ExpTaskLogsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.BalanceLogsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task.ActiveRankingActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task.ActiveRanking2Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.SignInActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.WithdrawDeposit3Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.WithdrawDeposit3ImplActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.InviteShareActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task.TaskSendOrderActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.IncomeAccountActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.ShareMakeMoneyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.IncomeLogsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.MySeedActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.MyFruitActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.SectionTaskActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.RedPackerActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.SaleSeedActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.SectionTaskChildActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.ActiveRanking3_0Activity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.ActiveRankingChildActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.SeedLogsActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.EnrichmentTreeActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.SeedChartActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.BlockFruitActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.BlockTaskFruitActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.BlockTaskFruitActivity2"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.task_3_0.MySaleFruitActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.SetRedPackerInfoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.AllRedPackerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.RedPackerResidueActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yimeng.haidou.mine.RedPackerWallActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" /> <!-- TEST START -->
        <activity android:name="com.yimeng.haidou.TTSActivity" />
        <activity android:name="com.yimeng.test.TestSeedFlyActivity" /> <!-- TEST END -->
        <activity android:name="com.yimeng.haidou.mine.RedPackerWallDetailActivity" />
    </application>

</manifest>